<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <!-- maybe add angular dependency here? -->
    <!-- <script src="somecdn.angular2.js"></script> not for this stage -->

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=VT323|Open+Sans' rel='stylesheet' type='text/css'>

    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <title>Self Portrait</title>

    <style>
      body {
        background-color:#aaa;
      }
      .kw-grid .kw-background {
        width: 100%;
        height: 350px;
        text-align: center;
        white-space: nowrap;
        padding:9px;
      }
      .kw-grid-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      .kw-grid img {
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
      }
    </style>

  </head>


  <body>
    <div id="content" class="container-fluid">
      <div class="page-header">
        <h1>Self Portrait</h1>
      </div>

      <div class="row kw-grid">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="kw-background">
              <span class="kw-grid-helper"></span>
              <img src="http://lh4.ggpht.com/RKAJ3z2mOcw83Ju0a7NIp71oUoJbVWJQzxwki5PSERissvWIrELCuxxGZ12U0PeAnf6WLkRCzpFdvjweUBjlcr2I4dl_=s0" alt="...">
              <span class="kw-grid-helper"></span>
            </div>
          </div>
        </div>
      </div>
      
      <ul class="list-group">
        <!-- TODO(kwiley) link to centuries from here -->
        <li class="list-group-item">Artist: <a href="/templates/artists/vangogh.html">Vincent van Gogh</a></li>
        <li class="list-group-item">Medium: painting</li>
        <li class="list-group-item">Year: 1887</li>
        <li class="list-group-item">Style: <a href="/templates/styles/impressionism.html">Impressionism</a></li>
        <li class="list-group-item">Dimensions: 42cm x 34cm</li>
      </ul>
    </div>
  </body>

</html>
