.idb-work-instance-image {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    max-height: 889px;
    border: 50px solid darkgray;
    padding: 5px;
    margin-top: 50px;
}
.idb-work-info-container {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}
.idb-name {
    padding-bottom: 5px;
    font-size: x-large;
}
.idb-dates{
    font-style: italic;
    font-size: medium;
    padding-bottom: 20px;
}
.idb-color-card {
    height: 20px;
    width: 20%;
    margin: 0 auto;
    /*padding: 10px;*/
}
.idb-color-card-container {
    margin: 0 auto;
}
.row {
  padding:  5% 10% 0px 10%;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}
