{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href='https://fonts.googleapis.com/css?family=VT323|Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://cs373-project-345.appspot.com/static/css/style.css">
<style>
.idb-std-image {
    width: 300px;
    height: 300px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">About Us</h1>
                  <p>Welcome to Artisttree! Experience the art of the Rijksmuseum in Amsterdam and the magic of relational databases. This site allows you to navigate the thousands of works and artists of the Rijksmuseum, including details on colors and styles. It's perfect for people studying art history or just those with an interest in art. </p>
              </div>
          </div>

          <!-- Team Members Row -->
          <div class="row">
              <div class="col-lg-12">
                  <h2 class="page-header">Our Team</h2>
              </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle idb-std-image img-responsive img-center" src="../static/img/walter.jpg" alt="">
                  <h3>Walter Sagehorn
                  </h3>
                  <p>Backend dev, routing</p>
                  <p>Walter loves eating dogs and intentionally omitting commas.</p>
                  <p>2 commits, 5 issues, 0 unit tests</p>
              </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle idb-std-image img-responsive img-center" src="/static/img/stefan.png" alt="">
                  <h3>Stefan Grasu
                  </h3>
                  <p>Documentation and technical writing</p>
                  <p>Stefan is a man of mystery. Much mystery.</p>
                  <p>0 commits, 4 issues, 0 unit tests</p>
              </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle idb-std-image img-responsive img-center" src="/static/img/kyle.png" alt="">
                  <h3>Kyle Wiley
                  </h3>
                  <p>Front end dev, model and instance pages</p>
                  <p>Kyle is a part time magician, clown, and party entertainer. He enjoys riding his unicycle to class and programming while balancing the keyboard on his nose.</p>
                  <p>31 commits, 3 issues, 0 unit tests</p>
              </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle idb-std-image img-responsive img-center" src="/static/img/jesse.png" alt="">
                  <h3>Jesse Wright</h3>
                  <p>Backend dev, database</p>
                  <p>A senior very ready to graduate.</p>
                  <p>10 commits, 6 issues, 15 unit tests</p>
              </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle idb-std-image img-responsive img-center" src="/static/img/james.png" alt="">
                  <h3>James Graham
                  </h3>
                  <p>Project managment and technical writing</p>
                  <p>James is a developer, writer, car enthusiast, and breakfast-taco aficionado. The people at Torchy's are probably tired of him by now.</p>
                  <p>11 commits, 2 issues, 0 unit tests</p>
              </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle idb-std-image img-responsive img-center" src="/static/img/carson.jpg" alt="">
                  <h3>Carson Moore</h3>
                  <p>Front end dev, splash and about page</p>
                  <p>My &lt;\head&gt; is full with code</p>
                  <p>11 commits, 5 issues, 0 unit tests</p>
              </div>
          </div>

          <div class="col-lg-12">
            <h2 class="page-header">Stats</h2>
            <p>Total no. of commits: 96</p>
            <p>Total no. of issues: 16</p>
            <p>Total no. of unit tests: 15</p>
            <p><a href="http://docs.jamesgraham1.apiary.io/">Apiary</a></p>
            <p><a href="https://github.com/grahamjamesr7/idb/issues">Issues</a></p>
            <p><a href="https://github.com/grahamjamesr7/idb">Github Repo</a></p>
          </div>

          <div class="col-lg-12">
            <h2 class="page-header">Data</h2>
            <p>The Rijksmuseum museum has an <a href="https://www.rijksmuseum.nl/en/api">API</a>
               that can be query for information about the collection.</p>
            <p>We also used Wikipedia to fill in some additional information about works/artists</p>
          </div>

          <div class="col-lg-12">
            <h2 class="page-header">Tools</h2>
            <p>Boostrap - HTML, CSS, and JS framework used for frontend</p>
            <p>Flask - Python web framework for our backend</p>
            <p>GCP - Google Cloud Platform for hosting</p>
            <p>TravisCI - integrates with GitHub repo to automatically test and build</p>
          </div>
      </div>
{% endblock %}
