{% extends "base.html" %}
{% block head %}
{{ super() }}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" media="screen">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
          rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=VT323|Open+Sans'
          rel='stylesheet' type='text/css'>

    <!-- style -->
    <link rel="stylesheet" type="text/css"
        href="https://cs373-project-345.appspot.com/static/css/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cs373-project-345.appspot.com/static/css/about.css">
    <script type="text/jsx" src="/static/js/run_tests.jsx"></script>
    <style>
    .idb-std-image {
        width: 255px;
        height: 265px;
    }
    </style>
{% endblock %}

{% block content %}


<!-- adapated from Start Bootstrap example: https://startbootstrap.com/template-overviews/round-about/ -->

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us</h1>
            <p>Welcome to Artisttree! Experience the art of the Rijksmuseum in
                Amsterdam and the magic of relational databases. This site
                allows you to navigate the thousands of works and artists of
                the Rijksmuseum, including details on colors and styles. It's
                perfect for people studying art history or just those with an
                interest in art. </p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="idb-std-image img-circle img-responsive img-center"
                 src="/static/img/walter.jpg" alt="">
            <h3>Walter Sagehorn
            </h3>
            <p>Backend dev, routing</p>
            <p>Walter loves eating dogs and intentionally omitting commas.</p>
            <p>46 commits, 16 issues, 0 unit tests</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="idb-std-image img-circle img-responsive img-center"
                 src="/static/img/stefan.png" alt="">
            <h3>Stefan Grasu
            </h3>
            <p>Documentation and technical writing</p>
            <p>Stefan is a man of mystery. Much mystery.</p>
            <p>15 commits, 10 issues, 0 unit tests</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="idb-std-image img-circle img-responsive img-center"
                 src="/static/img/kyle.png" alt="">
            <h3>Kyle Wiley
            </h3>
            <p>Front end dev, model and instance pages</p>
            <p>Kyle is a part time magician, clown, and party entertainer. He
                enjoys riding his unicycle to class and programming while
                balancing the keyboard on his nose.</p>
            <p>55 commits, 11 issues, 0 unit tests</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="idb-std-image img-circle img-responsive img-center"
                 src="/static/img/jesse.png" alt="">
            <h3>Jesse Wright</h3>
            <p>Backend dev, database</p>
            <p>A senior very ready to graduate.</p>
            <p>49 commits, 15 issues, 15 unit tests</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="idb-std-image img-circle img-responsive img-center"
                 src="/static/img/james.png" alt="">
            <h3>James Graham
            </h3>
            <p>Project managment and technical writing</p>
            <p>James is a developer, writer, car enthusiast, and breakfast-taco
                aficionado. The people at Torchy's are probably tired of him by
                now.</p>
            <p>70 commits, 25 issues, 0 unit tests</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="idb-std-image img-circle img-responsive img-center"
                 src="/static/img/carson.jpg" alt="">
            <h3>Carson Moore</h3>
            <p>Front end dev, splash and about page</p>
            <p>My <\head> is full with code</p>
            <p>31 commits, 10 issues, 0 unit tests</p>
        </div>
    </div>

    <div class="col-lg-12">
        <h2 class="page-header">Stats</h2>
        <p>Total no. of commits: 339</p>
        <p>Total no. of issues: 59</p>
        <p>Total no. of unit tests: 15</p>
        <p><a href="http://docs.jamesgraham1.apiary.io/">Apiary</a></p>
        <p><a href="https://github.com/grahamjamesr7/idb/issues">Issues</a></p>
        <p><a href="https://github.com/grahamjamesr7/idb">Github Repo</a></p>
    </div>

    <div class="col-lg-12">
        <h2 class="page-header">Data</h2>
        <p>The Rijksmuseum museum has an <a
                href="https://www.rijksmuseum.nl/en/api">API</a>
            that can be query for information about the collection.</p>
        <p>We also used Wikipedia to fill in some additional information about
            works/artists</p>
        <p>Scraping began with the Rijksmuseum’s api. The api was queried for
            100 pages of 50 works each. For each work, another api call
            returned more in-depth information about the work as well as the
            work’s primary artist. As much information as possible was scraped
            from the JSON strings returned by these api calls. The information
            provided by the Rijksmuseum alone was not enough, so we turned to
            Selenium as well as the Python Wikipedia module to provide us with
            the missing data fields. For example, Selenium was used to search
            Google images for the artist’s image as well as for any work whose
            image was not provided by the Rijksmuseum. Inspired by Google’s
            “I’m Feeling Lucky” option, we always chose the first image
            returned by the search. Of course, this method was not perfect, and
            a lot of times either no image or the wrong image would appear.
            Overall though, this method returned satisfactory enough results
            without requiring an unnecessary amount of complexity. The
            Wikipedia on the other hand worked flawlessly, and allowed us to
            retrieve the bio “blurbs” for any artist as long as they existed in
            the database.</p>
        <p>
            The Final step of scraping involved massaging the data and
            extracting interesting information about subsets of the data such
            as average dimensions of a medium and common colors in an era.
            Making meaningful conclusions about common colors presented a
            challenge, because averaging all the colors in an era would just
            return some shade of brown, but trying to return the most used
            colors would probably do something similar since there are many
            shades which appear in only one or two works. Therefore, our
            solution was to bucket the colors into approximately twelve
            buckets. Each bucket was represented by a reference color, such
            that all the range of visible colors was well represented by the
            buckets. Each work’s colors were then assigned to buckets based on
            the Euclidian distance between each reference color and the work
            color rgb vectors. The shortest distance therefore indicated the
            reference color that best approximated the true color .</p>
    </div>

    <div class="col-lg-12">
        <h2 class="page-header">Tools</h2>
        <p>Boostrap - HTML, CSS, and JS framework used for frontend</p>
        <p>Flask - Python web framework for our backend</p>
        <p>GCP - Google Cloud Platform for hosting</p>
        <p>TravisCI - integrates with GitHub repo to automatically test and
            build</p>
    </div>

    <div>
        <h2 class="page-header">Tests</h2>
        <button style = "color: black;">Run the tests</button>
        <div id="test">
        </div>
    </div>
{% endblock %}
