{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
.idb-artist-instance-portrait {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    max-height: 889px;
    border: 50px solid darkgray;
    padding: 5px;
    margin-top: 50px;
}
.idb-artist-info-container {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}
.idb-name {
    padding-bottom: 5px;
    font-size: x-large;
}
.idb-dates{
    font-style: italic;
    font-size: medium;
    padding-bottom: 20px;
}
</style>
{% endblock %}

{% block content %}


<img class= "idb-artist-instance-portrait" src = "{{artist.image or "/static/img/vangogh.jpg"}}"></img>

<div class= "idb-artist-info-container">
    <div class = "idb-name">{{artist.name}}</div>
    <div class = "idb-dates">{{artist.dob}} to {{artist.dod}}</div>
    <div style = "font-size: medium; ">Originally from: {{artist.country}}</div>

</div>


{% endblock %}
