{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/artist_instance.css">
{% endblock %}

{% block content %}


<img class= "idb-artist-instance-portrait" src = "{{artist.image or "/static/img/vangogh.jpg"}}"></img>

<div class= "idb-artist-info-container">
    <div class = "idb-name">{{artist.name}}</div>
    <div class = "idb-dates">{{artist.dob}} to {{artist.dod}}</div>
    <div style = "font-size: medium; ">Originally from: {{artist.country}}</div>

</div>


{% endblock %}
