<!DOCTYPE html>
<html lang="en">
    <head>
      {% block head %}

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-latest.js"></script>

      <!-- maybe add angular dependency here? -->

      <!-- Bootstrap -->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script>
        var onResize = function() {
            console.log('functiongotrun');
            // apply dynamic padding at the top of the body according to the fixed navbar height
            $(".navbar-default").css("margin-top",$(".navbar-custom").height())
            $("body").css("padding-top",$(".navbar-default").height()+$(".navbar-custom").height());
          };

          // attach the function to the window resize event
        $(window).resize(onResize);
          // call it also when the page is ready after load or reload
        $(function() {
          onResize();
          });
      </script>
      <!-- fonts -->
      <link href='https://fonts.googleapis.com/css?family=VT323|Open+Sans' rel='stylesheet' type='text/css'>

      <!-- style -->
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        {% endblock %}
    </head>


    <body>
      <nav class="navbar navbar-custom navbar-fixed-top ">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand active" href="/">Artistree</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/media">Media</a></li>
            <li><a href="/eras">Eras</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/report">Report</a></li>
          </ul>
        </div>
      </nav>

        <div id="content" class="container-fluid no-padding">
            {% block content %}{% endblock %}
        </div>
    </body>

</html>
