<!DOCTYPE html>
<html lang="en">
    <head>
      {% block head %}

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-latest.js"></script>

      <!-- maybe add angular dependency here? -->

      <!-- Bootstrap -->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

      <!-- fonts -->
      <link href='https://fonts.googleapis.com/css?family=VT323|Open+Sans' rel='stylesheet' type='text/css'>

      <!-- style -->
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">

      <title>{% block title %}{% endblock %} - ArtistTree</title>
        {% endblock %}
    </head>


    <body>
      <nav class="navbar navbar-custom navbar-fixed-top navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Rijksmuseum</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="/static/about.html">About</a></li>
            <li><a href="/static/templates/artists/index.html">Artists</a></li>
            <li><a href="/static/templates/styles/index.html">Styles</a></li>
            <li><a href="/static/templates/works/index.html">Works</a></li>
            <li><a href="/static/templates/centuries/index.html">Centuries</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/static/report.html">Report</a></li>
          </ul>
        </div>
      </nav>

        <div id="content" class="container-fluid no-padding">
            {% block content %}{% endblock %}
        </div>
    </body>

</html>
