{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/era_instance.css">
{% endblock %}

{% block content %}

<div>
    <div class = "idb-era-title">{{era.name}} {{era.type}}</div>

    {% if countries %}
        <div class = "idb-country-desc"> This century saw artworks and artists from the following countries:</div>
        {% for country in countries %}
        <div class = "idb-era-data-container">{{country}}</div>
        {% endfor %}
    {% else %}
    <div class = "idb-era-data-container" style = "padding-top: 50px"><i>Unfortunately, there is no data for the geographic origins of art in this era.</i></div>
    {% endif %}

    {% if artists %}
        <div class = "idb-era-data-container" style = "padding-top: 20px"> This era featured works by such artists as: </div>
        {% for artist in artists %}
        <div style = "text-align: center"><a href = "/artist/{{artist.id}}">{{artist.name}}</a></div>
        {% endfor %}
    {% else %}
        <div class = "idb-country-desc"> This century saw artworks and artists from the following countries:</div>
    {% endif %}

    {% if era.media %}
        <div class = "idb-era-data-container" style = "padding-top: 20px"> This era saw works in mediums such as: </div>
        {% for medium in media %}
        <div style = "text-align: center"><a href = "/media/{{medium.id}}">{{medium.name}}</a></div>
        {% endfor %}
    {% else %}
        <div class = "idb-era-data-container" style = "padding-top: 50px"><i>Unfortunately, there is no data for what media was popular in this era.</i></div>
    {% endif %}

    {% if era.works %}
        <div class = "idb-era-data-container" style = "padding-top: 20px"> This era saw such artworks as: </div>
        {% for work in works %}
        <div style = "text-align: center"><a href = "/artist/{{work.id}}">{{work.title}}</a></div>
        {% endfor %}
    {% else %}
        <div class = "idb-era-data-container" style = "padding-top: 50px"><i>Unfortunately there is no data about famous artworks from this era.</i></div>
    {% endif %}

</div>


{% endblock %}
