{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="overlay"><h1>Welcome to ArtistTree!</h1></div>

<!-- partially adapated from Start Bootstrap example: https://startbootstrap.com/template-overviews/full-slider/ -->

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('static/img/nightwatch.jpg');"></div>
            <div class="carousel-caption">
                <h2>The Night Watch</h2>
                <h4>Rembrandt van Rijn</h4>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('static/img/vangogh.jpg');"></div>
            <div class="carousel-caption">
                <h2>Self-portrait</h2>
                <h4>Vincent van Gogh</h4>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('static/img/milkmaid.jpg');"></div>
            <div class="carousel-caption">
                <h2>The Milkmaid</h2>
                <h4>Johannes Vermeer</h4>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
  {% endblock %}
