
{% extends "card_base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/media.css">
<title>medium</title>
{% endblock %}

{% block content %}


{% for medium in media %}
  {% if (loop.index-1) is divisibleby 4 %}
    {% if (loop.index-1) is not equalto 0 %}
  </div>
    {% endif %}
      <div class="row">
  {% endif %}
      <div class="col-md-3">
              <div id = "card-{{loop.index-1}}"></div>
      </div>
{% endfor %}

{% if (media|length is not divisibleby 4) %}
  </div>
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top" style = "margin-top: 45px">
  <div class="container-fluid">
      <div>
          <p class = "navbar-text navbar-left idb-no-form-padding"> Filter by: </p>
          <form class="navbar-form navbar-left">
           <div class="form-group">
             <input id = "nameBox" type="text" class="form-control" placeholder="Part/all of a medium's name" style = "max-width: 210px">
           </div>
         </form>


                  <p class = "navbar-text navbar-left idb-no-form-padding" style = "padding-right: 10px"> Sort results by name: </p>
                <button type="button" class="btn btn-default navbar-btn navbar-left" style= "margin-right:10px" onclick="update(1,1,get_page_enum().MEDIA)">A-Z</button>
                <button type="button" class="btn btn-default navbar-btn navbar-left" onclick="update(2,1,get_page_enum().MEDIA)">Z-A</button>
               <!-- right elements -->
               <button type="button" class="btn btn-default navbar-btn navbar-right" id = "next-button" onclick="handle_page_change(0,get_page_enum().MEDIA)">Next Page</button>
               <div id = "page-identifier" class = "navbar-text navbar-right"></div>
               <button type="button" class="btn btn-default navbar-btn navbar-right" id = "prev-button" onclick="handle_page_change(1,get_page_enum().MEDIA)">Previous page</button>

       <p id = "errorText" class = "navbar-text navbar-right idb-no-form-padding"></p>

      </div>
  </div>
</nav>
{% endblock %}
