
{% extends "card_base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/media.css">
<title>medium</title>
{% endblock %}

{% block content %}


{% for medium in media %}
  {% if (loop.index-1) is divisibleby 4 %}
    {% if (loop.index-1) is not equalto 0 %}
  </div>
    {% endif %}
      <div class="row">
  {% endif %}
        <div class="col-md-3">
          <a href="/media/{{medium.id}}">
            <div class="idb-card">
                {% if medium._image %}
                    <img class = "idb-medium-img" src = "{{medium._image}}"></img>
                {% else %}
                    <img class = "idb-medium-img" src = "https://placehold.it/200?text=No+image+available"></img>
                {% endif %}

              <div class="idb-medium-name">{{medium.name or "Unknown"}}</div>
            </div>
          </a>

        </div>
{% endfor %}

{% if (media|length is not divisibleby 4) %}
  </div>
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top" style = "margin-top: 45px">
  <div class="container-fluid">
      <div>
          <p class = "navbar-text navbar-left idb-no-form-padding"> Filter by: </p>
          <form class="navbar-form navbar-left">
           <div class="form-group">
             <input id = "nameBox" type="text" class="form-control" placeholder="Part/all of a medium's name" style = "max-width: 210px">
           </div>
         </form>
         <p class = "navbar-text navbar-left idb-no-form-padding"> Within this many: </p>
         <form class="navbar-form navbar-left">
          <div class="form-group">
            <input id = "dateStart" type="number" class="form-control" placeholder="years" style = "max-width: 100px">
          </div>
        </form>
        <p class = "navbar-text navbar-left idb-no-form-padding"> and </p>
        <form class="navbar-form navbar-left">
         <div class="form-group">
           <input id = "dateEnd" type="number" class="form-control" placeholder="year" style = "max-width: 100px">
         </div>
       </form>

                  <p class = "navbar-text navbar-left idb-no-form-padding" style = "padding-right: 10px"> Sort results by name: </p>
                <button type="button" class="btn btn-default navbar-btn navbar-left" style= "margin-right:10px" onclick="update(1,1,get_page_enum().MEDIA)">A-Z</button>
                <button type="button" class="btn btn-default navbar-btn navbar-left" onclick="update(2,1,get_page_enum().MEDIA)">Z-A</button>
                <p class = "navbar-text navbar-left"> or by age:</p>
                <button type="button" class="btn btn-default navbar-btn navbar-left" style= "margin-right:10px" onclick = "update(3,1,get_page_enum().MEDIA)">Oldest first</button>
                <button type="button" class="btn btn-default navbar-btn navbar-left" onclick = "update(4,1,get_page_enum().MEDIA)">Contemporary first</button>
               <!-- right elements -->
               <button type="button" class="btn btn-default navbar-btn navbar-right" id = "next-button" onclick="handle_page_change(0,get_page_enum().MEDIA)">Next Page</button>
               <div id = "page-identifier" class = "navbar-text navbar-right"></div>
               <button type="button" class="btn btn-default navbar-btn navbar-right" id = "prev-button" onclick="handle_page_change(1,get_page_enum().MEDIA)">Previous page</button>

       <p id = "errorText" class = "navbar-text navbar-right idb-no-form-padding"></p>

      </div>
  </div>
</nav>
{% endblock %}
