
{% extends "card_base.html" %}
{% block title %}Works{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/works.css">
{% endblock %}

{% block content %}


{% for work in works %}
  {% if (loop.index-1) is divisibleby 4 %}
    {% if (loop.index-1) is not equalto 0 %}
  </div>
    {% endif %}
      <div class="row">
  {% endif %}
        <div class="col-md-3">
          <a href="/work/{{work.id}}">
            <div class="idb-card">
              <img class="idb-work-img" src={{work.image or "/static/img/vangogh.jpg"}}>

              <div class="idb-work-title">{{work.title or "Untitled"}}</div>
              <div class="idb-work-date">{{work.date or "Unknown"}}</div>
            </div>
          </a>

        </div>
{% endfor %}

{% if (works|length is not divisibleby 4) %}
  </div>
{% endif %}
<nav class="navbar navbar-default navbar-fixed-bottom" style = "margin-bottom:45px">
  <div class="container-fluid">
      <div>
          <p class = "navbar-text navbar-left idb-no-form-padding"> Filter by: </p>
          <form class="navbar-form navbar-left">
           <div class="form-group">
             <input id = "nameBox" type="text" class="form-control" placeholder="Part/all of a title" style = "max-width: 150px">
           </div>
         </form>
         <p class = "navbar-text navbar-left idb-no-form-padding"> Made between: </p>
         <form class="navbar-form navbar-left">
          <div class="form-group">
            <input id = "dateStart" type="number" class="form-control" placeholder="this date" style = "max-width: 100px">
          </div>
        </form>
        <p class = "navbar-text navbar-left idb-no-form-padding"> and </p>
        <form class="navbar-form navbar-left">
         <div class="form-group">
           <input id = "dateEnd" type="number" class="form-control" placeholder="this date" style = "max-width: 100px">
         </div>
       </form>

       <p id = "errorText" class = "navbar-text navbar-right idb-no-form-padding"></p>

      </div>
  </div>
</nav>

<!--Extra navbar -->
<nav class="navbar navbar-default navbar-fixed-bottom" style = "max-height: 40px">
  <div class="container-fluid">
          <p class = "navbar-text navbar-left idb-no-form-padding" style = "padding-right: 10px"> Sort results by name: </p>


         <button type="button" class="btn btn-default navbar-btn navbar-left" style= "margin-right:10px" onclick="update(1,1,get_page_enum().WORKS)">A-Z</button>
         <button type="button" class="btn btn-default navbar-btn navbar-left" onclick="update(2,1,get_page_enum().WORKS)">Z-A</button>
         <p class = "navbar-text navbar-left"> or by age:</p>
         <button type="button" class="btn btn-default navbar-btn navbar-left" style= "margin-right:10px" onclick = "update(3,1,get_page_enum().WORKS)">Oldest first</button>
         <button type="button" class="btn btn-default navbar-btn navbar-left" onclick = "update(4,1,get_page_enum().WORKS)">Contemporary first</button>
        <!-- right elements -->
        <button type="button" class="btn btn-default navbar-btn navbar-right" id = "next-button" onclick="handle_page_change(0,get_page_enum().WORKS)">Next Page</button>
        <p id = "page-identifier" class = "navbar-text navbar-right"></p>
        <button type="button" class="btn btn-default navbar-btn navbar-right" id = "prev-button" onclick="handle_page_change(1,get_page_enum().WORKS)">Previous page</button>

  </div>
</nav>

{% endblock %}
